{% extends "master.html" %}

{% block content %}

<h1>Simulação de sensor</h1>

<form class="form" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="sensor">Selecione um Sensor:</label>
        <select class="form-select" name="sensor_id" id="sensor" required>
            {% for sensor in sensores %}
                <option value="{{ sensor.id }}">{{ sensor }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Simular Leitura</button>
</form>

{% endblock %}